.form-container{
 width: 10rem;
 height: max-content;
 background-color: #ebebeb;
 margin: auto;
 padding: 5rem 5rem;
 margin-top: 1rem;
 border-radius: 1rem;
 box-shadow: 7px 8px rgba(0,0,0,0.5);
}

.login-button{
 padding: 0.3rem;
 margin-top: 1rem;
 font-family: Roboto, sans-serif;
 font-size: 1rem;
 background-color: #000;
 color: #ebebeb;
 text-decoration: none;
 padding: 0.4rem;
 border-radius: 0.2rem;
 }

.modal-text-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 1rem;
 font-family: Roboto, sans-serif;
 font-size: 1.1rem;
 margin-top: 3rem;
}

.modal-check{
 color: green;
 font-size: 5.5rem;
 margin-top: 2rem;
}

.close-button{
 display: flex;
 margin-left: 15rem;
}

.button-back-to-home{
 text-decoration: none;
 color: #fff;
 background-color: #000;
 padding: 0.3rem;
 border-radius: 1rem;
 font-family: Roboto, sans-serif;
 font-size: 1.1rem;
}

.button-back-to-home-container{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 1rem;
}